#left{
  position: fixed;
  float:left;
  margin-left: 1rem;
  margin-top: 3rem;
  z-index: 10;
}

#mapDate{
  width:8.5rem;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding-left: 3rem;
  font-family: serif;
  font-size: 15px;
}
#mapDate:hover{
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}

#left label{
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-left: 3rem;
}

#buttonDiv{
  margin-top: -.05em;
}

#dropButton{
  background-color: rgba(0,0,0,0.5);
  width:15.4em;
  border: none;
  color: white;
  font-family: serif;
  font-size: 12px;
}

#dropButton:hover{
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}

.key{
  display:none;
  background-color: rgba(0,0,0,0.5);
  width: 11.55em;
}

.showKey{
  display:block;
}

#keyTable{
  color: white;
}

#keyTable tr th:first-child{
  width: 9em;
}
#keyTable tr th{
  width: 2em;
}

#keyTable tr td:first-child{
  width: 9em;
}
#keyTable tr td{
  width: 2em;
}

#preMapBut{
  width:5.8rem;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-family: serif;
  font-size: 14px;
}
#nextMapBut{
  width:5.8rem;
  margin-left: -.3em;

  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-family: serif;
  font-size: 14px;
}

#preMapBut:hover{
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}
#nextMapBut:hover{
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}
